<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>enviando un archivo al navegador </title>
</head>
<header>LOGOTIPO 
    BARRA DE NAVEGACION
    BARRA DE BUSQUEDA
    ENLACES A REDES SOCIALES
</header>
<nav> <ul>
    <li>
        <a href="#"> inicio</a>
        <a href="#"> quienes somos</a>
        <a href="#"> servicio</a>
        <a href="#"> contacto</a>
    </li>
</ul></nav>
<body>
    <h1>Hola Mundo</h1>
    <h2>Hola Mundo</h2>
    <section>
        <header>
            <h2> PRODUCTO DESTACADO</h2>
        </header>
        DESCRIPCION DEL PRODUCTO
        <footer>
            <a href="#" CONTINUAR LEYENDO></a>
        </footer>
    </section>
    <break></break>
    <p>ESTOY INICIANDO EN JS</p>
    <strong>HOLA MUNDILLO</strong>
   <em>HOLA MUNDILLO</em>
   <ol>
    <li>Tomar una ducha</li>
    <li>Vestirse</li>
    <li>tomar un cafe</li>
   </ol>
   <ul>
    <li>Tomar una ducha</li>
    <li>Vestirse</li>
    <li>tomar un cafe</li>
   </ul>
   </body>
   <footer>
    <p>TODOS LOS DERECHOS RESERVADOS</p>
    <nav><ul>
        <a href="#" > TERMINOS Y CONFICIONES</a>
        <a href="#" > MAPA DE SITIO</a>
        <a href="#" > INFORMACION LEGAL</a>
    </ul></nav>
   </footer>
</html>